!!!
%html
  %head
    %meta{ charset: 'utf-8' }/
    %meta{ content: 'width=device-width, initial-scale=1.0', name: 'viewport' }/
    %title Fast prototyping boilerplate

    -# Common stylesheets
    %link{ href: './lib/fonts/foundation-icons.css',
      rel: 'stylesheet', type: 'text/css' }/
    %link{ href: './lib/css/foundation.min.css',
      rel: 'stylesheet', type: 'text/css' }/
    -# Custom stylesheets
    %link{ href: './css/main.css',
      rel: 'stylesheet', type: 'text/css' }/

    -# Common scripts
    %script{ src: './lib/js/jquery.min.js',
      defer: true, type: 'text/javascript' }
    %script{ src: './lib/js/foundation.min.js',
      defer: true, type: 'text/javascript' }
    -# Custom scripts
    %script{ src: './js/main.js',
      defer: true, type: 'text/javascript' }

  %body
    .row
      %h1.text-center
        %em.fi-wrench
        Hello!

    .row
      .small-offset-0.small-12.medium-offset-2.medium-8.columns
        %p.text-center I'm boilerplate for damn fast static prototyping.

    .row
      %footer.footer
        %p.text-center.about
          %small
            Made with
            = succeed ',' do
              %em.fi-heart
            fun and keyboard.
